<!DOCTYPE html>
<html>
<head>
  <title>AnimatedType</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= yield 'extra_footer' %>

</body>
</html>
